<!DOCTYPE html>
<html>

<head>
  <meta charset="ISO-8859-1">
  <title>Listar Medicamentos</title>
</head>

<body>
  <div class="flex flex-col h-screen">
    <!-- TOP -->
    <header class="p-0">
      <app-header></app-header>
    </header>

    <!-- MID -->
    <main class="p-4 flex-grow">
        <div class="p-6 w-full">
            <div class="container ">
                <main class="p-4 flex-grow">
                    <section class="container mx-auto p-6 font-mono">
                        <button type="button" onclick="window.location.href='/createmedicamentos'"
                            class="inline-block px-6 py-2.5 bg-gray-300 text-gray-700 font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-gray-400 hover:shadow-lg focus:bg-gray-400 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-gray-500 active:shadow-lg transition duration-150 ease-in-out">
                            Insert</button>
                        <div class="w-full mb-8 overflow-hidden rounded-lg shadow-lg">
                            <div class="w-full overflow-x-auto">
                                <table class="w-full">
                                    <thead>
                                        <tr class="text-md font-semibold tracking-wide text-left text-gray-900 bg-gray-100 uppercase border-b border-gray-600">
                                            <th class="px-4 py-3">Id</th>
                                            <th class="px-4 py-3">Nombre del Medicamento</th>
                                        </tr>
                                    </thead>
                                    <tbody class="bg-white">
                                        <tr class="text-gray-700" *ngFor="let medicamento of medicamento" >
                                            <td class="px-4 py-3 text-sm border">{{medicamento.id}}</td>
                                            <td class="px-4 py-3 text-sm border">{{medicamento.descripcion}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                </main>
            </div>
        </div>



    </main>

    <!-- BOTTOM -->
    <footer class="bg-gray-200 text-center lg:text-left">
    </footer>
  </div>
</body>
</html>