<!DOCTYPE html>
<html>

<head>
  <meta charset="ISO-8859-1">
  <title>Inicio</title>
</head>

<body>
  <div class="flex flex-col h-screen">
    <!-- TOP -->
    <header class="p-0">
      <app-header></app-header>
    </header>

    <!-- MID -->
    <main class="p-4 flex-grow">
      
    <iframe src='https://widget-b56d98d2ca2a4ffaa4f2c475b757ad7d.elfsig.ht' width='100%' height='900' frameborder='0'></iframe>


    </main>

    <!-- BOTTOM -->
    <footer class="bg-gray-200 text-center lg:text-left">
    </footer>
  </div>
</body>
</html>